#postar{    
    text-align: center;
    display: "inline_block";
    font-family: arial;
    padding-top: 40px;
    margin-right: 50px;
}

#visualizar{    
    text-align: center;
    display: "inline_block";
    font-family: arial;
    padding-top: 40px;
    margin-right: 50px;
 
    
}